@import "partials/variables";
@import 'app/components/alpaca-game/stylesheet';
@import 'app/components/keyboard-keys/stylesheet';
@import 'app/components/site-footer/stylesheet';
@import 'app/components/sticky-mountains/stylesheet';

.bootstrap-styles {
  @import "ember-bootstrap/bootstrap";
}

.body, .ember-application {
  font-family: Helvetica;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

/*
 * Extra utilities
 */
.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

p {
  font-weight: 100;
}
.bootstrap-styles {
  .row {
    max-width: 1500px;

    .card {
      max-width: 18rem;
      border: 15px solid white;
      &:hover {
        background-color: #11161dc7;
        img { filter: brightness(50%); }
      }
    }
  }
  a {
    height: 100%;
    color: black;
    &:hover {
      color: $mountain-6;
      text-decoration: none;
      p, h5 {
        color: #b5b6b7;
      }
    }
  }
  h1 {
    .mysql img {
      width: 50px;
    }
    .svg-inline--fa:hover, .fa:hover {
      filter: brightness(50%);
    }
    .fa- {
      &bootstrap {
        color: #602C50;
      }
      &ember {
      color: #f23819;
      }
      &github {
        color: #333333;
        &:hover {
          opacity: .6;
        }
      }
      &html5 {
        color: #e34f26;
      }
      &sass {
        color: #CD6799;
      }
      &node {
        color: #68A063;
      }
      &python {
        color: #4B8BBE;
      }
      &js {
        color: #F0DB4F;
      }
      &adobe {
        color: #EC1F28;
      }
      &npm {
        color: #cb3837;
      }
    }
  }
}



