@import "partials/variables";
@import 'app/components/alpaca-game/stylesheet';
@import 'app/components/keyboard-keys/stylesheet';
@import 'app/components/portfolio-cards/stylesheet';
@import 'app/components/site-footer/stylesheet';
@import 'app/components/sticky-mountains/stylesheet';

.bootstrap-styles {
  @import "ember-bootstrap/bootstrap";
}

.body, .ember-application {
  font-family: Helvetica;
  overflow-x: hidden;
  padding: 0;
  margin: 0;

  .ie-alert {
    background-color: #ffeeba;
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

/*
 * Extra utilities
 */
.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

p {
  font-weight: 100;
}
