.bootstrap-styles {
  .portfolio-cards-component {
    background-color: #e6dedb;

    .jumbotron {
      border-bottom: 15px solid white;
    }
    .row {
      max-width: 1450px;

      .card {
        background-color: white;
        border: 2px solid white;
        min-height: 450px;
        width: 18rem;
        margin-top: 2px;
        img { filter: brightness(80%); }

        &:hover {
          border: none;
          background-color: white;
          a { margin-top: 2px; }

          img {
            filter: brightness(100%);
            margin-top: -2px;
          }
          .card-body {
            border-left: 2px solid white;
            border-right: 2px solid white;
            border-radius: 1em;
          }
        }
        .card-body {
          padding-right: 20%;
        }
      }
    }
    a {
      height: 100%;
      color: black;
      &:hover {
        color: $mountain-6;
        text-decoration: none;
        p, h6 {
          color: black;
        }
      }
    }
    h1 {
      .mysql img {
        width: 50px;
      }
      .svg-inline--fa:hover, .fa:hover {
        filter: brightness(150%);
      }
      .fa- {
        &bootstrap {
          color: #602C50;
        }
        &ember {
        color: #f23819;
        }
        &github {
          color: #333333;
          &:hover {
            opacity: .6;
          }
        }
        &html5 {
          color: #e34f26;
        }
        &sass {
          color: #CD6799;
        }
        &node {
          color: #68A063;
        }
        &python {
          color: #4B8BBE;
        }
        &js {
          color: #F0DB4F;
        }
        &adobe {
          color: #EC1F28;
        }
        &npm {
          color: #cb3837;
        }
      }
    }
  }
}