{{#unless (user-agent "browser.isIE")}}
  <div class="bg-dark">
    <div class="jumbotron jumbotron-fluid mb-0">
      <div class="container">
        <p>I work for Poached Jobs where I help develop new features and migrate a legacy site from WordPress to a single page Ember application backed by a RESTful API.</p>
        <h6>Some languages, frameworks and tools I've used:</h6>
        <h1>
          <a href="https://emberjs.com/" target="_blank" rel="noopener" class="mx-auto">
            <FaIcon @icon="ember" @prefix="fab" />
          </a>
          <a href="https://sass-lang.com/" target="_blank" rel="noopener" class="mx-auto">
            <FaIcon @icon="sass" @prefix="fab" />
          </a>
          <a href="https://reactjs.org/" target="_blank" rel="noopener" class="mx-auto">
            <FaIcon @icon="react" @prefix="fab" />
          </a>
          <a href="https://nodejs.org/" target="_blank" rel="noopener" class="mx-auto">
            <FaIcon @icon="node" @prefix="fab" />
          </a>
          <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank" rel="noopener">
            <FaIcon @icon="js" @prefix="fab" />
          </a>
          <a href="https://www.adobe.com/" target="_blank" rel="noopener">
            <FaIcon @icon="adobe" @prefix="fab" />
          </a>
          <a href="https://getbootstrap.com/" target="_blank" rel="noopener">
            <FaIcon @icon="bootstrap" @prefix="fab" />
          </a>
          <a href="https://www.npmjs.com/" target="_blank" rel="noopener">
            <FaIcon @icon="npm" @prefix="fab" />
          </a>
          <a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5" target="_blank" rel="noopener">
            <FaIcon @icon="html5" @prefix="fab" />
          </a>
          <a href="https://www.mysql.com/" target="_blank" rel="noopener" class="mysql">
            <img src="/img/mysql.png" alt="mysql logo" class="fa">
          </a>
          <a href="https://github.com/glunn" target="_blank" rel="noopener">
            <FaIcon @icon="github" @prefix="fab" />
          </a>
          <a href="https://www.python.org/" target="_blank" rel="noopener">
            <FaIcon @icon="python" @prefix="fab" />
          </a>
        </h1>
      </div>
    </div>
  </div>
  <div class="">
    <div class="row p-sm-5 mx-sm-auto">
      <div class="card-deck mx-auto">
        <div class="card mx-sm-2 mt-5 mb-5">
          <a href="https://blog.poachedjobs.com/" target="_blank" rel="noopener">
            <img src="/img/poached-blog.jpg" class="card-img-top" alt="The Poached Blog">
            <div class="card-body">
              <h6>The Poached Blog</h6>
              <p class="card-text">Before starting on the main app one of my projects at Poached was building their blog site using a WordPress child theme. Avg. daily pageviews are up over 200%. (My co-workers are brillant and hilarious, you should check out their articles!)</p>
            </div>
          </a>
        </div>
      </div>
      <div class="card-deck mx-auto">
        <div class="card mx-sm-2 mt-5 mb-5">
          <a href="http://rubencortezdrywall.com/" target="_blank" rel="noopener">
            {{responsive-image image="drywall.jpg" class="card-img-top" alt="Ruben Cortez Drywall"}}
            <div class="card-body">
              <h6>Ruben Cortez Drywall</h6>
              <p class="card-text">Responsive, quick to load, and straight to the point. A local contractor asked me for a simple page to showcase his company's Yelp reviews.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="card-deck mx-auto">
        <div class="card mx-sm-2 mt-5 mb-5">
          <a href="https://www.portlandialanguages.com/free-session" target="_blank" rel="noopener">
            {{responsive-image image="sign-up.jpg" class="card-img-top" alt="Portlandia Languages"}}
            <div class="card-body">
              <h6>Portlandia Language School</h6>
              <p class="card-text">I doubled the rate of enrollment in language courses at Portlandia Language School by updating their website and implementing an online sign up form.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="card-deck mx-auto">
        <div class="card mx-sm-2 mt-5 mb-5">
          <a href="https://devpost.com/software/growing-gardens-donate-portal" target="_blank" rel="noopener">
            <img src="/img/growing-gardens.jpg" class="card-img-top" alt="Growing Gardens app">
            <div class="card-body">
              <h6>Growing Gardens 🏆</h6>
              <p class="card-text">My team won first place at the annual We Code For Good Hackathon with our donation platform for a local non-profit. I contributed to the concept, requirements gathering, front end development, and I set up the front end architecture for the project.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="card-deck mx-auto">
        <div class="card mx-sm-2 mt-5 mb-5">
          <a href="http://rpmaquinarias.com.ar/" target="_blank" rel="noopener">
            <img src="/img/rp-maquinarias.jpg" class="card-img-top" alt="RP Maquinarias site">
            <div class="card-body">
              <h6>RP Maquinarias</h6>
              <p class="card-text">I used a Wayback Machine downloader to quickly recontruct a lost site designed by another developer. RP was losing substantial business due to downtime and thought they were out >1k and numerous hours spent generating content, but happily it was pretty straight-forward to save everything.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="card-deck mx-auto">
        <div class="card mx-sm-2 mt-5 mb-5">
          <a href="https://devpost.com/software/team-13-z8gw0b" target="_blank" rel="noopener">
            <img src="/img/milk-bank.jpg" class="card-img-top" alt="Mother's Milk app">
            <div class="card-body">
              <h6>NW Mother’s Milk Bank</h6>
              <p class="card-text">My team's entry for the 2017 We Code For Good Hackathon. We built a mobile app to aid donors in finding places to drop off their breast milk, and designed features for ordering supplies, tracking donations, and explaining donation packaging. It's built with Node.js and MongoDB.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="card-deck mx-auto">
        <div class="card mx-sm-2 mt-5 mb-5">
          <a href="https://help.poachedjobs.com/hc/en-us" target="_blank" rel="noopener">
            {{responsive-image image="zendesk.jpg" class="card-img-top" alt="Help Center"}}
            <div class="card-body">
              <h6>Zendesk Help Desk</h6>
              <p class="card-text">I created a theme for our Poached help center, with a search function and suggested articles.</p>
            </div>
          </a>
        </div>
      </div>
      <div class="card-deck mx-auto">
        <div class="card mx-sm-2 mt-5 mb-5">
          <a href="http://www.hackoregon.org/about-us" target="_blank" rel="noopener">
            {{responsive-image image="web-cartography.jpg" class="card-img-top" alt="Web Cartography"}}
            <div class="card-body">
              <h6>Hack Oregon</h6>
              <p class="card-text">I volunteered as a Junior Front End Developer for a Hack Oregon civic project, and also completed their JavaScript, React, and Web Cartography classes.</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-dark">
    <div class="jumbotron jumbotron-fluid mb-0">
      <div class="container">
      </div>
    </div>
  </div>
  <div class="bg-dark">
    <div class="jumbotron jumbotron-fluid mb-0">
      <div class="container">
      </div>
    </div>
  </div>
  <div class="bg-dark">
    <div class="jumbotron jumbotron-fluid mb-0">
      <div class="container">
      </div>
    </div>
  </div>
  <div class="bg-dark">
    <div class="jumbotron jumbotron-fluid mb-0">
      <div class="container">
      </div>
    </div>
  </div>
{{/unless}}
