.bootstrap-styles {
  .site-footer-component {
    background-color: #3E3E3E;
    padding: 50px;
    a {
      color: #D6D6D6;
    }
    a:hover {
      color: white;
    }
    @media (max-width: $screen-xs) {
      padding-left: 10px;
    }
  }
}
