
<div class="col text-right text-nowrap">
  <a href="https://github.com/glunn" target="_blank" rel="noopener">
    <FaIcon @icon="github" @prefix="fab" /> https://github.com/glunn
  </a>
</div>
<div class="col text-right text-nowrap">
  <a href="https://www.linkedin.com/in/aglunn/" target="_blank" rel="noopener">
    <FaIcon @icon="linkedin" @prefix="fab" /> https://www.linkedin.com/in/aglunn/
  </a>
</div>
