<div class="sr-only" tabindex="0">
  <p>Hey, welcome! I'm Abbie.</p>
  <p>I'm a Portland based Software Engineer and I build...</p>
  <p>{{typedStrings}}</p>
</div>
{{sticky-mountains typedStrings=this.typedStrings}}
{{alpaca-game}}
