<div class="demo row">
  <div class="col small bottom">
    {{#sticky-element top=10 class="sticky" bottom=500 as |sticky|}}
      <div class="fix">
        <img src='/img/mtn1.png'>
      </div>
    {{/sticky-element}}
  </div>
  <div class="col small bottom">
    {{#sticky-element top=20 class="sticky" bottom=400 as |sticky|}}
      <div class="mtn__2">
        <img src='/img/mtn2.png'>
      </div>
    {{/sticky-element}}
  </div>
  <div class="col small bottom">
    {{#sticky-element top=30 class="sticky" bottom=300 as |sticky|}}
      <div class="mtn__3">
        <img src='/img/mtn3.png'>
      </div>
    {{/sticky-element}}
  </div>
  <div class="col small bottom">
    {{#sticky-element top=40 class="sticky" bottom=200 as |sticky|}}
      <div class="mtn__4">
        <img src='/img/mtn4.png'>
      </div>
    {{/sticky-element}}
  </div>
  <div class="col small bottom">
    {{#sticky-element top=50 class="sticky" bottom=100 as |sticky|}}
      <div class="mtn__5">
        <img src='/img/mtn5.png'>
      </div>
    {{/sticky-element}}
  </div>
  <div class="col small bottom">
    {{#sticky-element top=60 class="sticky" bottom=0 as |sticky|}}
      <div class="mtn__6">
        <img src='/img/mtn6.png'>
      </div>
    {{/sticky-element}}
  </div>
</div>


<div class="text-center">
  <h2>Recent Works</h2>
  <p class="section-subheading text-muted">
    Some pictures. Lit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur.
  </p>
</div>
<div class="text-center">
  <h2>Recent Works</h2>
  <p class="section-subheading text-muted">
    Some pictures. Lit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur.
  </p>
</div>
<div class="text-center">
  <h2>Recent Works</h2>
  <p class="section-subheading text-muted">
    Some pictures. Lit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur.
  </p>
</div>
<div class="text-center">
  <h2>Recent Works</h2>
  <p class="section-subheading text-muted">
    Some pictures. Lit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur.
  </p>
</div>
<div class="text-center">
  <h2>Recent Works</h2>
  <p class="section-subheading text-muted">
    Some pictures. Lit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur.
  </p>
</div>
<div class="text-center">
  <h2>Recent Works</h2>
  <p class="section-subheading text-muted">
    Some pictures. Lit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur.
  </p>
</div>
<div class="text-center">
  <h2>Recent Works</h2>
  <p class="section-subheading text-muted">
    Some pictures. Lit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur.
  </p>
</div>
<div class="text-center">
  <h2>Recent Works</h2>
  <p class="section-subheading text-muted">
    Some pictures. Lit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur.
  </p>
</div>
<div class="text-center">
  <h2>Recent Works</h2>
  <p class="section-subheading text-muted">
    Some pictures. Lit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur.
  </p>
</div>
<div class="text-center">
  <h2>Recent Works</h2>
  <p class="section-subheading text-muted">
    Some pictures. Lit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur.
  </p>
</div>
<div class="text-center">
  <h2>Recent Works</h2>
  <p class="section-subheading text-muted">
    Some pictures. Lit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur.
  </p>
</div>
<div class="text-center">
  <h2>Recent Works</h2>
  <p class="section-subheading text-muted">
    Some pictures. Lit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur.
  </p>
</div>
<div class="text-center">
  <h2>Recent Works</h2>
  <p class="section-subheading text-muted">
    Some pictures. Lit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur.
  </p>
</div>
<div class="text-center">
  <h2>Recent Works</h2>
  <p class="section-subheading text-muted">
    Some pictures. Lit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur.
  </p>
</div>